div {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}
table {width: 100%;
font-size:1.4vw;
margin:auto;
margin-top:2%;
text-align:center;
background-color:rgba(255,255,255,0.7)}

img{height: 20%;
    width: auto;}

button { display:flex;
        font-size: 1.3vw;
            justify-content: center;
            margin-top: 3%;
            margin-bottom: 3%;
            margin-right: 2%;
           float:right}
    
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;


margin: 0;
           }
           
           /* Firefox */
input[type=number] {
-moz-appearance: textfield;
text-align: right;
border-radius: 0%;
              }

.krug{

    margin-right: 8%;
    font-size:1.4vw;
    ;
}
