h1 {
    margin-top:2%;
    margin-bottom:2%;
    color:rgb(255, 81, 119);
    /*text-shadow: rgba(48, 48, 48, 0.664) 0px 1px 10px ;
    */
    
    text-align: center;
}
div#glavni {
    
    height:100%;
    width:100%;
    margin:0;
    overflow-y: scroll;
    
}

.container {
    
    display: flex;
    justify-self: center;
    align-content: center;
    padding: 20px;
    border-radius: 3%;
    margin-bottom: 5%;
}

table {width: 98%;
    font-size:1.4vw;
    color :white;
    margin:auto;
    margin-top:2%;
    margin-left:1%;
    margin-right:1%;
    text-align:center;
    background-color:rgba(69, 15, 35, 0.775)}

   tr,td {
        border-bottom: 1px solid rgb(255, 255, 255);
        }

    button { display:inline-block;
        font-size: 1.3vw;
            justify-content: center;
            margin-right: 5%;
            
            margin-top: 3%;
            margin-bottom: 3%;
            
           }
form{margin:auto;}

mat-divider{
    margin-top:1%;
    margin-bottom:1%;
}